<a href="https://colab.research.google.com/github/prishilevant/ce888/blob/main/lab6/my_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import numpy as np
import pandas as pd

In [46]:
df = pd.read_csv('https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/jester-data-1.csv',header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,74,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,...,2.82,99.00,99.00,99.00,99.00,99.00,-5.63,99.00,99.00,99.00
1,100,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,49,99.00,99.00,99.00,99.00,9.03,9.27,9.03,9.27,99.00,...,99.00,99.00,99.00,9.08,99.00,99.00,99.00,99.00,99.00,99.00
3,48,99.00,8.35,99.00,99.00,1.80,8.16,-2.82,6.21,99.00,...,99.00,99.00,99.00,0.53,99.00,99.00,99.00,99.00,99.00,99.00
4,91,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24978,100,0.44,7.43,9.08,2.33,3.20,6.75,-8.79,-0.53,-8.74,...,8.83,-1.21,9.22,-6.70,8.45,9.03,6.55,8.69,8.79,7.43
24979,91,9.13,-8.16,8.59,9.08,0.87,-8.93,-3.50,5.78,-8.11,...,-1.17,-5.73,-1.46,0.24,9.22,-8.20,-7.23,-8.59,9.13,8.45
24980,39,99.00,99.00,99.00,99.00,-7.77,99.00,6.70,-6.75,99.00,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
24981,37,99.00,99.00,99.00,99.00,-9.71,99.00,4.56,-8.30,99.00,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00
24982,72,2.43,2.67,-3.98,4.27,-2.28,7.33,2.33,4.56,6.75,...,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00,99.00

Check the dataset description to figure out which value you should replace with NaNs (the cells for which we don't have a rating). This is the test set.

In [47]:
df = df.replace(99.00, np.nan)
df

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,74.0,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,...,2.82,NaN,NaN,NaN,NaN,NaN,-5.63,NaN,NaN,NaN
1,100.0,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,49.0,NaN,NaN,NaN,NaN,9.03,9.27,9.03,9.27,NaN,...,NaN,NaN,NaN,9.08,NaN,NaN,NaN,NaN,NaN,NaN
3,48.0,NaN,8.35,NaN,NaN,1.80,8.16,-2.82,6.21,NaN,...,NaN,NaN,NaN,0.53,NaN,NaN,NaN,NaN,NaN,NaN
4,91.0,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24978,100.0,0.44,7.43,9.08,2.33,3.20,6.75,-8.79,-0.53,-8.74,...,8.83,-1.21,9.22,-6.70,8.45,9.03,6.55,8.69,8.79,7.43
24979,91.0,9.13,-8.16,8.59,9.08,0.87,-8.93,-3.50,5.78,-8.11,...,-1.17,-5.73,-1.46,0.24,9.22,-8.20,-7.23,-8.59,9.13,8.45
24980,39.0,NaN,NaN,NaN,NaN,-7.77,NaN,6.70,-6.75,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24981,37.0,NaN,NaN,NaN,NaN,-9.71,NaN,4.56,-8.30,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24982,72.0,2.43,2.67,-3.98,4.27,-2.28,7.33,2.33,4.56,6.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
# There's a column you need to remove because it doesn't contain ratings. 
# Check the description of the dataset and figure out which one. Then drop it.

# The first column(collum "0") gives the number of jokes rated by that user. 
# The next 100 columns give the ratings for jokes 01 - 100
# so delete collum "0" because don't contain rating

df = df.drop(columns=[0])
df

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,-7.82,8.79,-9.66,-8.16,-7.52,-8.50,-9.85,4.17,-8.98,-4.76,...,2.82,NaN,NaN,NaN,NaN,NaN,-5.63,NaN,NaN,NaN
1,4.08,-0.29,6.36,4.37,-2.38,-9.66,-0.73,-5.34,8.88,9.22,...,2.82,-4.95,-0.29,7.86,-0.19,-2.14,3.06,0.34,-4.32,1.07
2,NaN,NaN,NaN,NaN,9.03,9.27,9.03,9.27,NaN,NaN,...,NaN,NaN,NaN,9.08,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,8.35,NaN,NaN,1.80,8.16,-2.82,6.21,NaN,1.84,...,NaN,NaN,NaN,0.53,NaN,NaN,NaN,NaN,NaN,NaN
4,8.50,4.61,-4.17,-5.39,1.36,1.60,7.04,4.61,-0.44,5.73,...,5.19,5.58,4.27,5.19,5.73,1.55,3.11,6.55,1.80,1.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24978,0.44,7.43,9.08,2.33,3.20,6.75,-8.79,-0.53,-8.74,7.23,...,8.83,-1.21,9.22,-6.70,8.45,9.03,6.55,8.69,8.79,7.43
24979,9.13,-8.16,8.59,9.08,0.87,-8.93,-3.50,5.78,-8.11,4.90,...,-1.17,-5.73,-1.46,0.24,9.22,-8.20,-7.23,-8.59,9.13,8.45
24980,NaN,NaN,NaN,NaN,-7.77,NaN,6.70,-6.75,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24981,NaN,NaN,NaN,NaN,-9.71,NaN,4.56,-8.30,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24982,2.43,2.67,-3.98,4.27,-2.28,7.33,2.33,4.56,6.75,4.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#  Use pandas to find the best- and the worst-rated jokes

In [49]:
mean_of_jokes = df.mean( skipna = True)
mean_of_jokes

1      0.904573
2      0.208460
3      0.316574
4     -1.449114
5      0.403556
         ...
96     1.528003
97     1.673750
98     0.767692
99    -0.031244
100    1.354711
Length: 100, dtype: float64

In [50]:
# best jokes
mean_of_jokes[mean_of_jokes == max(mean_of_jokes)]

50    3.665085
dtype: float64

In [51]:
# worst joke
mean_of_jokes[mean_of_jokes == min(mean_of_jokes)]

58   -3.83388
dtype: float64

Modify and use the helper function provided in the helper_function notebook (or create your own) to label 10% of the dataset cells that are not NaNs as 99. This is your validation set. Keep the the actual values of the cells so you can use them later (as done in the example of the helper_function notebook).

In [52]:
def replace(orig, percentage=0.1):
  """
  Replaces 'percentage'% of the original values in 'orig' with 99's
  :param orig: original data array
  :param percentage: percentage of values to replace (0<percentage<1)
  """
  new_data = orig.copy()
  # rated = np.where(arr!=99)
  rated = np.where(~np.isnan(orig))
  n_rated = len(rated[0])
  idx = np.random.choice(n_rated, size=int(percentage*n_rated), replace=False)  
  new_data[rated[0][idx], rated[1][idx]] = 99
  print((rated[0][idx], rated[1][idx]))
  return new_data, (rated[0][idx], rated[1][idx])

Use latent factor modeling (with 2 latent factors) to infer the hidden ratings of the users (they are labeled as "99" in the dataset) on the training set. You will have to modify at least one line in the provided sgd() function for this (and probably 2, depending on your variable names).

In [53]:
n_latent_factors = 2

ratings = df.values
latent_user_preferences = np.random.random((ratings.shape[0], n_latent_factors))
latent_item_features = np.random.random((ratings.shape[1], n_latent_factors))

In [54]:
ratings.shape

(24983, 100)

In [55]:
latent_user_preferences

array([[0.56801042, 0.28576651],
       [0.41740397, 0.66109066],
       [0.45833241, 0.46916677],
       ...,
       [0.69666113, 0.60590151],
       [0.59487054, 0.87379839],
       [0.84962911, 0.47409566]])

In [56]:
def predict_rating(user_id, item_id):
    """ Predict a rating given a user_id and an item_id.
    """
    user_preference = latent_user_preferences[user_id]
    item_preference = latent_item_features[item_id]
    return user_preference.dot(item_preference)


def train(user_id, item_id, rating, alpha=0.0001):
    #print(item_id)
    predicted_rating = predict_rating(user_id, item_id)
    err =  predicted_rating - rating
    #print(err)
    user_pref_values = latent_user_preferences[user_id]
    latent_user_preferences[user_id] -= alpha * err * latent_item_features[item_id]
    latent_item_features[item_id] -= alpha * err * user_pref_values
    return err
    
# Use latent factor modeling (with 2 latent factors) to infer the hidden ratings of the users (they are labeled as "99" in the dataset) on the training set.
#  You will have to modify at least one line in the provided sgd() function for this (and probably 2, depending on your variable names).
def sgd(iterations):
    """ Iterate over all users and all items and train for 
        a certain number of iterations
    """
    mse_history = []
    for iteration in range(iterations):
        error = []
        for user_id in range(latent_user_preferences.shape[0]):
            for item_id in range(latent_item_features.shape[0]):
                rating = ratings[user_id, item_id]
                # if not np.isnan(rating):
                if rating != 99 and not np.isnan(rating):
                    err = train(user_id, item_id, rating)
                    error.append(err)
        mse = (np.array(error) ** 2).mean()   
        if (iteration % 10000) == 0:
            print('Iteration %d/%d:\tMSE=%.6f' % (iteration, iterations, mse))
            mse_history.append(mse)
    return mse_history

In [57]:
# Iterations in sgd will take a long time to run: you can (and should) use low numbers. Try something like 10.
# You can interrupt at any point the execution of this function, because the values are updated in each iteration, 
# so if you interrupt execution you can use the latent_user_preferences and latent_item_features.
#  Calculate the performance (e.g., MSE) of the algorithm on the validation dataset

import matplotlib.pyplot as plt
num_iter = 10
hist = sgd(num_iter)  # Note how the MSE decreases with the number of iterations
plt.figure()
plt.plot(np.arange(0, num_iter, 10000), hist)
plt.xlabel("Iterations")
plt.ylabel("MSE")
plt.show()

Iteration 0/10:	MSE=26.120521

KeyboardInterrupt: ignored

In [58]:
#  Make predictions for the test dataset.
predictions = latent_user_preferences.dot(latent_item_features.T)
predictions

array([[0.65190423, 0.19189758, 0.35561252, ..., 0.73541324, 0.1752558 ,
        1.06205156],
       [0.90445099, 0.27479443, 0.34286443, ..., 0.77359528, 0.25999874,
        1.30160378],
       [0.88844482, 0.26696426, 0.38899207, ..., 0.84546244, 0.24955449,
        1.33817642],
       ...,
       [1.00545231, 0.30056857, 0.46757094, ..., 1.00163897, 0.27935904,
        1.54564575],
       [1.22123135, 0.3702796 , 0.47632931, ..., 1.06647286, 0.34956467,
        1.77276303],
       [1.06522269, 0.31479883, 0.55935344, ..., 1.1660691 , 0.28880282,
        1.71060214]])

In [ ]:
values = [zip(ratings[i], predictions[i]) for i in range(predictions.shape[0])]
comparison_data = pd.DataFrame(values)
comparison_data.columns = df.columns
comparison_data

# QUIZ

In the jokes dataset, what's the rating that user 21972 has given to joke 55?
Give your answer with two decimal values (e.g., 0.13).

Please use the following syntax in your code to answer this question: df_jester.iloc[user_x, joke_y].

In [59]:
df.iloc[21972,55]

-3.01

In the movies dataset, what's the loading (i.e., value) of Factor4 for the movie with ID=155?
Give your answer with three decimal values (e.g., 0.123).

In [60]:
with pd.ExcelFile('https://github.com/albanda/CE888/blob/master/lab4-recommender/movies_latent_factors.xlsx?raw=true') as reader:
  df_item = pd.read_excel(reader, sheet_name=reader.sheet_names[0])
  df_user = pd.read_excel(reader, sheet_name=reader.sheet_names[1])

In [61]:
df_item

,Movie ID,Title,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
0,11,Star Wars: Episode IV - A New Hope (1977),-1.521848,-1.038507,2.027269,0.247933,-0.594548,2.513260,-1.848910,0.476710,-0.224146,-0.760681,-0.973915,0.862379,0.403861,1.129616,-0.248806
1,12,Finding Nemo (2003),-0.342185,-0.296586,-0.385962,2.443297,-1.097015,-0.619465,0.572887,0.329516,-0.712228,0.323554,-0.561948,-0.142405,-0.564415,0.506876,1.274993
2,13,Forrest Gump (1994),-2.240888,-0.438815,-2.275177,0.614548,0.904469,0.711919,-0.420876,1.302036,-0.868418,-0.160122,0.633667,0.133138,-0.330276,-2.209004,-0.419092
3,14,American Beauty (1999),-0.634531,2.186059,-0.066681,0.086197,0.517558,-0.185319,-0.412352,0.063841,0.075937,-0.577682,0.526803,-1.465557,-0.819682,0.549010,-0.681191
4,22,Pirates of the Caribbean: The Curse of the Bla...,0.517348,-1.456763,0.369161,0.073903,-0.098332,-0.594722,0.828888,0.033626,-0.707414,0.717877,1.394326,-0.786986,1.429191,0.855746,-2.292566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,9806,The Incredibles (2004),0.159967,-0.051123,0.311183,1.841867,-1.952736,-0.836041,0.639252,-0.413082,-0.310868,0.448225,-0.846044,-0.158192,-0.649164,0.045580,1.017861
96,10020,Beauty and the Beast (1991),1.286288,0.004957,-0.157640,2.579640,-0.042687,-0.256582,-0.007971,0.458163,0.091394,0.323339,-0.862833,-0.508185,0.994535,0.868700,-0.487076
97,36657,X-Men (2000),0.811901,-0.893280,0.668953,-0.885074,-1.070468,-0.973154,-0.037449,-0.925609,-0.122112,-0.328822,-0.163103,-0.307299,0.642105,-1.355542,0.067790
98,36658,X2: X-Men United (2003),1.161006,-0.715613,0.712633,-0.688808,-0.717785,-1.007047,-0.267268,-0.802322,-0.249239,-0.540419,-0.291422,-0.240216,0.290714,-1.217250,-0.288130
99,36955,True Lies (1994),1.734008,0.265436,-0.003391,-0.491754,-0.322739,0.850165,-0.150377,-0.075895,1.373386,0.934767,0.489299,-0.062678,0.333703,-0.223382,-0.022599

In [62]:
df_item[df_item['Movie ID'] == 155]['Factor4']

21   -0.556938
Name: Factor4, dtype: float64

In the movies dataset, which of the following titles corresponds to the movie with the highest loading of factor 1?

In [63]:
df_item[df_item['Factor1'] == max(df_item['Factor1'])]['Title']

86    Charlie's Angels (2000)
Name: Title, dtype: object

In the movies dataset, predict the rating that the user with ID 3048 will give to the movie with ID 14. Give your answer with two decimal values (e.g., 0.12).

In [65]:
movie_id = df_item[df_item['Movie ID'] == 14]
movie_id.drop('Movie ID',inplace=True,axis=1)
movie_id.drop('Title',inplace=True,axis=1)
movie_id

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
3,-0.634531,2.186059,-0.066681,0.086197,0.517558,-0.185319,-0.412352,0.063841,0.075937,-0.577682,0.526803,-1.465557,-0.819682,0.54901,-0.681191

In [67]:
user_id = df_user[df_user['User'] == 3048]
user_id.drop('User',inplace=True,axis=1)
user_id

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
22,-0.320315,0.07829,-0.083182,-0.221577,-0.078184,-0.145306,-0.020166,0.124409,-0.063425,0.004726,0.009683,0.028016,-0.0181,-0.128452,0.069972

In [68]:
predictions = movie_id.dot(user_id.T)
predictions #answer

         22
3  0.216711

In the movies dataset, predict the rating that the user with ID 174 will give to the movie with ID 24. Give your answer with two decimal values (e.g., 0.12).

In [69]:
movie_id = df_item[df_item['Movie ID'] == 24]
movie_id.drop('Movie ID',inplace=True,axis=1)
movie_id.drop('Title',inplace=True,axis=1)
movie_id
user_id = df_user[df_user['User'] == 174]
user_id.drop('User',inplace=True,axis=1)
user_id
predictions = movie_id.dot(user_id.T)
predictions #answer

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

          3
5 -0.865355

In the movies dataset, if you had to recommend 2 movies to the user with ID=4940, which ones would you choose?

In [76]:
user_id_clean = df_user[df_user['User'] == 4940]
user_id_clean.drop('User', inplace=True, axis=1)
user_id_clean

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
24,-0.113099,0.047643,-0.053024,0.024834,0.010643,-0.012051,-0.04915,0.006252,0.020429,0.004349,0.028372,0.010227,-0.008233,-0.029304,0.090511

In [77]:
movie_all_items = df_item.copy()
movie_all_items.drop('Title', inplace=True, axis=1)
movie_all_items.drop('Movie ID', inplace=True, axis=1)
movie_all_items

,Factor1,Factor2,Factor3,Factor4,Factor5,Factor6,Factor7,Factor8,Factor9,Factor10,Factor11,Factor12,Factor13,Factor14,Factor15
0,-1.521848,-1.038507,2.027269,0.247933,-0.594548,2.513260,-1.848910,0.476710,-0.224146,-0.760681,-0.973915,0.862379,0.403861,1.129616,-0.248806
1,-0.342185,-0.296586,-0.385962,2.443297,-1.097015,-0.619465,0.572887,0.329516,-0.712228,0.323554,-0.561948,-0.142405,-0.564415,0.506876,1.274993
2,-2.240888,-0.438815,-2.275177,0.614548,0.904469,0.711919,-0.420876,1.302036,-0.868418,-0.160122,0.633667,0.133138,-0.330276,-2.209004,-0.419092
3,-0.634531,2.186059,-0.066681,0.086197,0.517558,-0.185319,-0.412352,0.063841,0.075937,-0.577682,0.526803,-1.465557,-0.819682,0.549010,-0.681191
4,0.517348,-1.456763,0.369161,0.073903,-0.098332,-0.594722,0.828888,0.033626,-0.707414,0.717877,1.394326,-0.786986,1.429191,0.855746,-2.292566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.159967,-0.051123,0.311183,1.841867,-1.952736,-0.836041,0.639252,-0.413082,-0.310868,0.448225,-0.846044,-0.158192,-0.649164,0.045580,1.017861
96,1.286288,0.004957,-0.157640,2.579640,-0.042687,-0.256582,-0.007971,0.458163,0.091394,0.323339,-0.862833,-0.508185,0.994535,0.868700,-0.487076
97,0.811901,-0.893280,0.668953,-0.885074,-1.070468,-0.973154,-0.037449,-0.925609,-0.122112,-0.328822,-0.163103,-0.307299,0.642105,-1.355542,0.067790
98,1.161006,-0.715613,0.712633,-0.688808,-0.717785,-1.007047,-0.267268,-0.802322,-0.249239,-0.540419,-0.291422,-0.240216,0.290714,-1.217250,-0.288130
99,1.734008,0.265436,-0.003391,-0.491754,-0.322739,0.850165,-0.150377,-0.075895,1.373386,0.934767,0.489299,-0.062678,0.333703,-0.223382,-0.022599

In [78]:
# predictions = movie_all_items.dot(user_id_clean.T)
predictions = movie_all_items.dot(user_id_clean.T)

predictions

          24
0  -0.007102
1   0.150055
2   0.428733
3   0.138002
4  -0.404229
..       ...
95  0.030116
96 -0.171061
97 -0.166569
98 -0.218647
99 -0.155148

[100 rows x 1 columns]

In [79]:
recommend_movies = predictions.sort_values(24,ascending=False)
recommend_movies

          24
2   0.428733
33  0.346073
50  0.311009
39  0.307798
60  0.291632
..       ...
72 -0.413899
68 -0.420009
85 -0.476892
37 -0.556127
86 -0.664724

[100 rows x 1 columns]

In [80]:
print(df_item.loc[2]['Movie ID'], df_item.loc[33]['Movie ID'])

13 278

In the movies dataset, if you had to recommend 2 movies to the user with ID=4327, which ones would you choose?

In [81]:
movie_all_items = df_item.copy()
movie_all_items.drop('Title', inplace=True, axis=1)
movie_all_items.drop('Movie ID', inplace=True, axis=1)
user_id_clean = df_user[df_user['User'] == 4327]
user_id_clean.drop('User', inplace=True, axis=1)

predictions = movie_all_items.dot(user_id_clean.T)

predictions

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

          21
0  -0.571045
1   0.701410
2   0.957224
3   0.312992
4  -0.362200
..       ...
95  0.568636
96  0.228117
97 -0.071025
98 -0.133544
99 -0.000380

[100 rows x 1 columns]

In [82]:
recommend_movies = predictions.sort_values(21,ascending=False)
recommend_movies

          21
47  1.386042
35  1.067568
2   0.957224
70  0.894748
48  0.848232
..       ...
78 -0.674849
79 -1.130503
14 -2.000204
16 -2.005248
15 -2.024219

[100 rows x 1 columns]

In [83]:
print(df_item.loc[47]['Movie ID'], df_item.loc[35]['Movie ID'])

597 329